.pagination {
	padding: 15px;
	margin-bottom: 15px;
	background-color: rgba(0, 0, 0, 0.1);
}

.page {
	color: black;
}

.currentPage {
	color: darkred;
}

.usersWrapper {
	display: flex;
	flex-wrap: wrap;
}

.item {
	display: flex;
	align-items: center;
	width: calc(50% - 5px);
	padding: 25px;
	margin-bottom: 10px;
	background: #ffffff;
	border-bottom: 1px solid #e4e3e1;
}

.item:nth-child(odd) {
	margin-right: 5px;
}

.item:nth-child(even) {
	margin-left: 5px;
}

.item:nth-last-child(-n+2) {
	margin-bottom: 0;
}

.colLeft {
	width: 80px;
}

.colRight {
	width: calc(100% - 80px);
	padding-left: 15px;
}

.title {
	margin-bottom: 0;
}

.text {
	font-size: 14px;
	margin-top: 0;
	margin-bottom: 0;
}

button {
	position: relative;
	z-index: 1;
	display: block;
	width: 100%;
	border: none;
	outline: none;
	font-family: 'Fira Sans', sans-serif;
	font-size: 11px;
	padding: 5px 12px;
	letter-spacing: 0.03rem;
	margin-top: -17px;
	background: #201e2b;
	color: #ffffff;
	font-weight: 400;
	transition: all 0.2s ease;
	cursor: pointer;
}

.btnFollow {
	color: #f9d74d;
	transition: all 0.2s ease-in;
}