.form {
	max-width: 100%;
	margin-bottom: 30px;
}

.textarea {
	display: block;
	width: 100%;
	height: 150px;
	padding: 15px;
	border: 1px solid #e4e3e1;
	background-color: rgba(228, 227, 225, 0.2);
	font-family: 'Fira Sans', sans-serif;
	font-size: 16px;
	line-height: 1.7;
	font-weight: 300;
	color: #222;
	transition: all 0.2s ease;
	box-sizing: border-box;
}

.textarea:hover,
.textarea:focus {
	background-color: rgba(228, 227, 225, 0.3);
	border-color: #cccccc;
	outline: none;
}

.textarea.error {
	border-color: rgb(214, 14, 14);
}

.errorMsg {
	font-size: 14px;
	font-weight: 700;
	color: rgb(214, 14, 14);
}

.button {
	display: block;
	width: 100%;
	border: none;
	margin-top: 10px;
	margin-left: auto;
	margin-right: 0;
	outline: none;
	font-family: 'Fira Sans', sans-serif;
	font-size: 17px;
	padding: 12px 12px;
	background: #e4e3e1;
	color: #201e2b;
	font-weight: 400;
	transition: all 0.2s ease;
	cursor: pointer;
}

.button.active,
.button:hover {
	color: #fff;
	background: #201e2b;
}