.data {
	margin: 0;
}

.contacts a {
	display: inline-block;
	text-decoration: none;
	margin-left: 5px;
	margin-right: 5px;
	color: #222;
}

.link {
	font-family: 'Fira Sans', sans-serif;
	font-size: 17px;
	color: #201e2b;
	font-weight: 700;
	transition: all 0.2s ease;
	cursor: pointer;
	text-decoration: underline;
}

