.profileInfo {
  margin-bottom: 30px;
  background-color: #fff;
}

.banner {
  background-color: #e4e3e1;
}

.content {
  padding: 25px;
}

.data {
  margin: 0;
}

.subtitle {
  margin-bottom: 10px;
}