html {
  box-sizing: border-box;  
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  margin: 0;
  font-family: 'Fira Sans', sans-serif;
  line-height: 1.7;
  font-weight: 400;
  color: #222;
  overflow: hidden;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
  margin: 0 auto;
}

h1, h2, h3, h4, h5, h5 {
  margin-top: 0;
  font-family: 'Crete Round', serif;
  line-height: 1.4;
  font-weight: 400;
}

h1 {
  font-size: 55px;
  line-height: 1;
}
